<h1>{{playername}}</h1>
<h2>You are the leader</h2>

<table>
    <tr>
        <td class="align-top">
            <section class="game-container">
                <div class="color-box color-box-red">
                    <button class="background js-add-colorbox" data-color='red'></button>
                </div>
                <div class="color-box color-box-blue">
                    <button class="background js-add-colorbox" data-color='blue'></button>
                </div>
                <div class="color-box color-box-yellow">
                    <button class="background js-add-colorbox" data-color='yellow'></button>
                </div>
                <div class="color-box color-box-green">
                    <button class="background js-add-colorbox" data-color='green'></button>
                </div>
            </section>
        </td>

        <td class="align-top">
            <h3>Current color sequence:</h3>
            <section id="sequence-container" class="samples mb-3">
                {{#each colorSequence}}
                    <div class="color-sample {{this}}-box"></div>
                {{/each}}
            </section>

            <h3>Players:</h3>
            <section id="players-container">
                {{#each players}}
                    <div>
                        <span>{{this.playername}}</span>
                        <div id="sequence-{{this.id}}" class="player-sequence"></div>
                    </div>
                {{/each}}
            </section>
        </td>
    </tr>
</table>

<div id="waiting-players-box" class="message-box">
    <div class="content">
        <div>Waiting for players to play their turn</div>
        <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
    </div>
</div>

<div id="youre-leader-box" class="message-box">
    <div class="content">
        <div>You were selected as the leader</div>
    </div>
</div>

<div id="won-box" class="message-box">
    <div class="content">
        <div>All players lost. You won!</div>
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script>
    var socket = io();
    socket.emit('ld-register', "{{playername}}");

    $('#youre-leader-box').fadeIn();
    setTimeout(function() { $('#youre-leader-box').hide(); }, 2000);

    function clean_player_choices(){
        $('.player-sequence').empty();
    }
</script>

<script>
    socket.on('ld-user-choice', function(gameid, color, color_class){
        console.log("sequence-" + gameid);
        let container = document.getElementById(gameid);
        let color_box = document.createElement("div");
        color_box.className = `color-sample ${color}-box ${color_class}`;
        container.appendChild(color_box);
    });

    socket.on('ld-start-turn', function() {
        $('.js-add-colorbox').removeClass('disabled');
        $('#waiting-players-box').hide();
    });

    socket.on('ld-won', function() {
        $('#waiting-players-box').hide();
        $('#won-box').fadeIn();
    })

    socket.on('ld-usr-lost', function(gameid, playername){
        alert(`${playername} Lost!`);
        $('#' + gameid).prev().addClass('strike');
    });

    socket.on('ld-set-players', function(players) {
        let container = document.getElementById('players-container');
        players = JSON.parse(players);
        console.log(players);
        players.forEach(function(player){
            console.log(player);
            let parent_div = document.createElement("div");
            parent_div.className = "samples";

            let name_span = document.createElement("span");
            name_span.innerText = player.playername;

            let sequence_div = document.createElement("div");
            sequence_div.id = player.id;
            sequence_div.className = 'player-sequence'

            parent_div.appendChild(name_span);
            parent_div.appendChild(sequence_div);

            container.appendChild(parent_div);
        });
    })

    socket.on('redirect', function(destination) {
        window.location.href = destination;
    });
</script>

<script>
    $('.js-add-colorbox').click(function(e){
        e.preventDefault(); // prevents page reloading                
        let color = $(this).attr('data-color');
        socket.emit('ld-choice', color);

        let container = document.getElementById("sequence-container");
        let color_box = document.createElement("div");
        color_box.className = `color-sample ${color}-box`;
        container.appendChild(color_box);

        clean_player_choices();

        $('#waiting-players-box').fadeIn();

        return false;
    })
</script>